
/* news-body */
.section-news .news-body {
  display: flex;
	overflow:hidden;
  justify-content: space-between;
}
/* body_featured_news */
.section-news .news-body .body_featured_news {
  max-width: 50.375rem;
}
/* .featured_news component */
.featured_news-item .featured_news-img {
  width: 100%;
  height: 28.125rem;
}
.featured_news-item .featured_news-content {
  margin-top: 1.5rem;
}
/* date post component */
.date_post_news {
  display: flex;
  align-items: center;
}
.date_post_news .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.date_post_news .date {
  color: var(--color-dark-3);
  text-align: left;
  font-size: var(--font-body4);
  font-style: normal;
  font-weight: 400;
  margin-top: 0.1rem;
  margin-left: 0.5rem;
  line-height: 150%; /* 1.3125rem */
}
/* title heading featured */
.featured_news-item .featured_news-content .featured_news-title .title_heading {
  color: var(--color-dark-1);
  font-size: var(--font-h3);
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 2.1rem */
  margin-top: 0.5rem;
}
.featured_news-item .featured_news-content .featured_news-title .sub_title {
  overflow: hidden;
  color: var(--color-dark);
  text-align: justify;
  text-overflow: ellipsis;
  font-size: var(--font-body3);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  margin-top: 0.5rem;
		display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
/* ============================== */

/* body_latest_news */
.section-news .news-body .body_latest_news {
  width: 35.8rem;
}
.section-news .news-body .body_latest_news .title {
  color: var(--color-dark-1);
  font-size: var(--font-h5);
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.5rem */
  border-bottom: 2px solid var(--color-dark-1);
  display: inline-block;
  padding-bottom: 0.25rem;
}
/* latest_news component */
.latest_news-item {
  display: flex;
  align-items: start;
  border-bottom: 1px solid var(--color-light-1);
  padding: 1.5rem 0 1rem;
}
.latest_news-item .latest_news-img {
  width: 10rem;
  height: 5rem;
}
.latest_news-item .latest_news-img.mobile {
  display: none;
}
.latest_news-item .latest_news-content {
  margin-left: 1rem;
}
.latest_news-item .latest_news-content .date_post-title {
  color: var(--color-dark-1);
  font-size: var(--font-sub1-5);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.35rem */

  margin-top: 0.5rem;
}
@media (max-width: 769px) {
.home_news {
	margin-top:3.75rem;
	margin-bottom:4.52rem;
	overflow-x:hidden;
}
.home_news .background_news-img--bottom {
  display:none;
}
  .home_news .section-news {
    padding: 0 1rem;
    position: static;
  }
  .section-news .home_news-heading {
    margin-bottom: 2rem;
    width: 9rem;
    /* background: #000; */
  }
  .section-news .home_news-heading .title {
    font-size: var(--font-h4);
	padding-top:2rem;
  }
  .section-news .home_news-heading .icon_title {
    height: 1rem;
  }
  .home_news .background_news-img {
    display: none;
  }
  /* news-body */
  .section-news .news-body {
    display: block;
  }
  /* .body_featured_news  */
  .section-news .news-body .body_featured_news {
    max-width: 100%;
  }
  /* .featured_news component */
  .featured_news-item .featured_news-img {
    width: 100%;
    height: 12rem;
  }
  .featured_news-item
    .featured_news-content
    .featured_news-title
    .title_heading {
    font-size: var(--font-h4);
  }
  .featured_news-item .featured_news-content .featured_news-title .sub_title {
    font-size: var(--font-body4);
  }
  /* body_latest_news */
  .section-news .news-body .body_latest_news {
    width: 100%;
    margin-top: 2.25rem;
  }
  /* latest_news component */
  .latest_news-item .latest_news-img {
    width: 6.25rem;
    height: 5rem;
  }
  .latest_news-item .latest_news-img.pc {
    display: none;
  }
  .latest_news-item .latest_news-img.mobile {
    display: block;
  }
  .latest_news-item .latest_news-content .date_post-title {
    font-size: var(--font-sub1-6);
  }
}
@media (min-width: 1600px) {
}
