.body_featured_news {
  max-width: 50.375rem;
}
/* .featured_news component */
.featured_news-item .featured_news-img {
  width: 100%;
  height: 28.125rem;
}
.featured_news-item .featured_news-content {
  margin-top: 1.5rem;
}
/* date post component */
.date_post_news {
  display: flex;
  align-items: center;
}
.date_post_news .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.date_post_news .date {
  color: var(--color-dark-3);
  text-align: left;
  font-size: var(--font-body4);
  font-style: normal;
  font-weight: 400;
  margin-top: 0.1rem;
  margin-left: 0.5rem;
  line-height: 150%; /* 1.3125rem */
}
/* title heading featured */
.featured_news-item .featured_news-content .featured_news-title .title_heading {
  color: var(--color-dark-1);
  font-size: var(--font-h3);
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 2.1rem */
  margin-top: 0.5rem;
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.featured_news-item .featured_news-content .featured_news-title .sub_title {
  overflow: hidden;
  color: var(--color-dark);
  text-align: justify;
  text-overflow: ellipsis;
  font-size: var(--font-body3);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  margin-top: 0.5rem;
	  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

@media (max-width: 768px) {
  /* .body_featured_news  */
  .home_news-content .home_news-body .body_featured_news {
    max-width: 100%;
  }
  /* .featured_news component */
  .featured_news-item .featured_news-img {
    width: 100%;
    height: 12rem;
  }
	.product_item .product_infor .icon_vote {
        margin-top: 0.5rem !important;
    }
	.product_item .product_infor .price .price_item:first-child {
		margin-top:0 !important;
		transform: translateY(2px);
		font-size: var(--font-h6);
	}
	.product_item .product_infor .price .original_price_item,.product_item .product_infor .price .discount_item {
		font-size: 0.75rem !important;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
	}
	.product_item .product_infor .s-desc-product{
		font-size: 0.875rem !important;
		font-style: normal;
		font-weight: 400;
		line-height: 150% !important;
		min-height:4rem;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top:0.25rem;
	}
	.product_item .product_infor .s-desc-product p {
		font-size: 0.875rem !important;
		font-style: normal;
		font-weight: 400;
		line-height: 150% !important
	}
	.product_item .product_infor .name_product{
		font-size: 1rem !important;
		line-height: 120% !important;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;  
 		 overflow: hidden;
		min-height: 2.45rem;
	}
  .featured_news-item
    .featured_news-content
    .featured_news-title
    .title_heading {
    font-size: var(--font-h4);
  }
  .featured_news-item .featured_news-content .featured_news-title .sub_title {
    font-size: var(--font-body4);
  }
}
body {
  background: #fff;
}
/* body_latest_news */
.body_latest_news {
  width: 35.8rem;
}
.body_latest_news .title {
  color: var(--color-dark-1);
  font-size: var(--font-h5);
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.5rem */
  border-bottom: 2px solid var(--color-dark-1);
  display: inline-block;
  padding-bottom: 0.25rem;
}
/* latest_news component */
.latest_news-item {
  display: flex;
  align-items: start;
  border-bottom: 1px solid var(--color-light-1);
  padding: 1.5rem 0 1rem;
	width:100%;
}
.latest_news-item .latest_news-img {
  width: 10rem;
  height: 5rem;
}
.latest_news-item .latest_news-img.mobile {
  display: none;
}
.latest_news-item .latest_news-content {
  margin-left: 1rem;
	    flex: 1;
}
/* date post component */
.date_post_news {
  display: flex;
  align-items: center;
}
.date_post_news .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.date_post_news .date {
  color: var(--color-dark-3);
  text-align: left;
  font-size: var(--font-body4);
  font-style: normal;
  font-weight: 400;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  line-height: 150%;
}
.latest_news-item .latest_news-content .date_post-title {
  color: var(--color-dark-1);
  font-size: var(--font-sub1-5);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.35rem */
	  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-top: 0.5rem;
}
.image_src_pc {
	width: 10rem;
	height: 5rem;
	object-fit:cover;
}
@media (max-width: 768px) {
  .latest_news-item .latest_news-content .date_post-title{
   -webkit-line-clamp: 3;
  }
  .image_src_pc {
	width: 6.25rem;
	height: 5rem;
	object-fit:cover;
  }
  .body_latest_news {
    width: 100%;
  }
  .latest_news-item .latest_news-img {
    width: 6.25rem;
    height: 5rem;
  }
  .latest_news-item .latest_news-img.pc {
    display: none;
  }
  .latest_news-item .latest_news-img.mobile {
    display: block;
  }
  .latest_news-item .latest_news-content .date_post-title {
    font-size: var(--font-sub1-6);
  }
}
