.disclaimer_page {
  position: relative;
}
.disclaimer_page .wrap_img-bg {
  display: none;
}
.disclaimer_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disclaimer_heading .title {
  /*color: var(--color-dark-1);*/
  font-size: var(--font-h1);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 3.9375rem */
  text-transform: uppercase;
}
.disclaimer_heading .icon_foliage {
  width: 13.2rem;
  height: 1.5625rem;
  margin-top: 0.5rem;
}
/* disclaimer_content */
.disclaimer_content {
  margin-top: 2.5rem;
}

.disclaimer_content h2,
.disclaimer_content h3,
.disclaimer_content h4,
.disclaimer_content h5,
.disclaimer_content h6 {
  margin-top: 1.5rem;
  color:var(--color-dark-1);
}
.disclaimer_content p {
  color: var(--color-dark-2);
  font-size: var(--font-body3);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.disclaimer_content p:last-child {
  margin-top: 1.75rem;
}
.disclaimer_content strong {
  color: var(--color-primary);
}
@media (max-width: 768px) {
  .disclaimer_page {
    margin-bottom: 5.12rem;
  }
  .disclaimer_page .wrap_img-bg {
    display: flex;
    position: absolute;
    bottom: -5.5rem;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }
  .disclaimer_page .wrap_img-bg .background_image {
    width: 42.8125rem;
    height: 7.25rem;
    flex-shrink: 0;
  }
  .disclaimer_container {
    padding: 0 1rem;
  }
  .disclaimer_heading {
    padding-top: 2.5rem;
  }
  .disclaimer_heading .title {
    font-size: var(--font-h4);
    line-height: 120%;
  }
  .disclaimer_heading .icon_foliage {
    width: 9.2rem;
    height: 1rem;
    margin-top: 0.25rem;
  }
  /* disclaimer_content */
  .disclaimer_content {
    margin-top: 2rem;
  }
}
