.section-news {
    background: #fff;
    position: relative;
}
.section-news-container .heading {
    min-width: 14rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-secondary-2);
}
.section-news-container .heading .title {
    text-align: center;
    font-size: var(--font-h1);
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 3.9375rem */
    text-transform: uppercase;
}
.section-news-container .heading .icon_foliage {
    width: 13.2rem;
    height: 1.5625rem;
    margin-top: 0.5rem;
}
/* section-news-content */
.section-news-container .section-news-content {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0;
}
/* loadMore_list-news */
.section-news-container .loadMore_list-news {
    display: none;
}
.section-news-container .loadMore_list-news .loadMore_news-mobile {
    display: flex;
    margin: 1rem 0 2rem;
    justify-content: center;
}
.section-news-container .loadMore_list-news .loadMore_news-mobile .loadMore_news-btn {
    border: 1px solid var(--button-primary);
    color: var(--button-primary);
    padding: 0.5rem 1rem;
    font-size: var(--font-sub2-6);
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.3rem */
    background-color: transparent;
    border-radius: 2.5rem;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-left: 18.19rem;
    margin-top: 1.5rem;
    margin: 1rem auto;
    width: 100%;
}
.pagination .pagi-num {
    display: flex;
    padding: 0.38rem 0.5rem;
    border: 1px solid #e9e9eb;
    border-radius: 0.25rem;
    width: fit-content;
    background: var(--color-white);
}
.pagination .current {
    background: rgba(0, 0, 0, 0.04);
}
.pagination .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: #474b57;
    margin-right: 0.5rem;
}
#load-more {
    color:  #F98905;
    font-size: 1rem;
    background:white;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.3rem */
    padding:0.5rem 1rem;
    border-radius:999rem;
    border:1px solid #F98905;
    display: none;
    margin: 0 auto;
}
.pagination .page-numbers:last-child {
    margin-right:0;
}
.pagination .page-numbers:hover {
  background: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

@media (max-width: 768px) {
    .section-news {
        padding-top:1.5rem;
      }
    .section-news-container {
        padding: 0 1rem;
    }
    .section-news-container .heading .title {
        font-size: var(--font-h4);
        line-height: 120%; /* 3.9375rem */
    }
    .section-news-container .heading .icon_foliage {
        width: 9.2rem;
        height: 1rem;
    }
    .section-news-container .section-news-content {
        display: none;
    }
        .section-news-container .loadMore_list-news {
        display: block;
    }
}
/* ====================== item News Ngang component =========================== */

/* date post component */
.date_post_news {
    display: flex;
    align-items: center;
}
.date_post_news .icon {
    width: 1.5rem;
    height: 1.5rem;
}
.date_post_news .date {
    color: var(--color-white);
    text-align: left;
    font-size: var(--font-body4);
    font-style: normal;
    font-weight: 400;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    line-height: 150%; /* 1.3125rem */
}

/* ====================== item News d·ªçc component =========================== */
/* body_news-page */
.body_news-page {
    width: 90rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}
.body_news-page .title {
    color: var(--color-primary);
    font-size: var(--font-h5);
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.5rem */
    border-bottom: 2px solid var(--color-primary);
    display: inline-block;
    padding-bottom: 0.25rem;
    font-family: Arial, Helvetica, sans-serif;
}
/* news-page component */
.news-page-item {
    max-width: 43rem;
    padding: 1rem;
}
.news-page-item .main {
    padding: 2rem;
    box-shadow: rgb(50 50 50 / 35%) 0px 5px 15px;
    border-radius: 1rem;
    /*border-radius: 1rem;*/
}
.news-page-item .main:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: box-shadow 0.5s ease;
}
.news-page-item .news-page-img {

}
.news-page-item .news-page-img .image{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
.news-page-item .news-page-content {
    padding: 1rem;
}
/* date post component */
.date_post_news {
    display: flex;
    align-items: center;
}
.date_post_news .icon {
    width: 1.5rem;
    height: 1.5rem;
}
.date_post_news .date {
    color: var(--color-white);
    text-align: left;
    font-size: var(--font-body4);
    font-style: normal;
    font-weight: 400;
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    line-height: 150%;
}
.body_news-page .date {
    color: var(--color-black) !important;
}
.news-page-item .news-page-content .post-title {
    color: var(--color-secondary-2);
    font-size: var(--font-sub1-5);
    font-style: normal;
    font-weight: 600;
    margin-top: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3rem;
}
/* ============= Item slide, load more ============= */
.item_newsSlide_body {
    /*max-width: 20.75rem;*/
    margin-bottom: 1.5rem;
}
/* date post component */
.date_post_news {
    display: flex;
    align-items: center;
}
.date_post_news .icon {
    width: 1.5rem;
    height: 1.5rem;
}
.date_post_news .date {
    color: var(--color-white);
    text-align: left;
    font-size: var(--font-body4);
    font-style: normal;
    font-weight: 400;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    line-height: 150%; /* 1.3125rem */
}
/* title heading featured */

@media (max-width: 768px) {
    .body_news-page {
        width: 100%;
      }
    .news-page-item .news-page-img {
        width: 6.25rem;
        height: 5rem;
    }
    .news-page-item .news-page-img.pc {
        display: none;
    }
    .news-page-item .news-page-img.mobile {
        display: block;
    }
    .news-page-item .news-page-content .post-title {
        font-size: var(--font-sub1-6);
    }
    .item_newsSlide_body {
        max-width: 100%;
        margin-bottom: 0rem;
    }
    .date_post_news.pc {
        display: none;
    }
}
