/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url("/wp-content/uploads/2024/09/dribbble_1.gif");
    height: 400px;
    background-position: center;
	background-repeat:no-repeat;
 }
.text-center {
	text-align:center;
}
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 0.75rem 2rem;
    background: #39ac31;
    margin: 2rem 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}