name: Deploy WordPress Theme to Hosting AMD

on:
  push:
    branches:
      - main  # chạy khi push lên nhánh main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Lấy mã nguồn
        uses: actions/checkout@v3

      - name: Upload theme qua FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: ${{ secrets.FTP_PORT }}
          protocol: ftp
          local-dir: ./wp-content/themes/tain-theme/
          server-dir: /domains/tainstudio/wp-content/themes/tain-theme/
          exclude: |
            **/.git*
            **/.github*
            **/node_modules/**
            **/.env